{% extends "base.html" %}

{% block content %}

<div class="container my-5"> <div class="p-5 text-center bg-body-tertiary rounded-3"> <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">Welcome to the page!</h1> <p class="col-lg-8 mx-auto fs-5 text-muted">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet animi commodi consequatur consequuntur delectus deleniti dolorem facere molestias odio odit porro quas quidem recusandae, rerum. Eligendi quisquam ratione totam!
</p> <div class="d-inline-flex gap-2 mb-5"> <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
Student List
<svg class="bi ms-2" width="24" height="24" aria-hidden="true"><use xlink:href="#arrow-right-short"></use></svg> </button> <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
About
</button> </div> </div> </div>

{% endblock %}